<h1 mat-dialog-title *ngIf="!data.edit">Add Template</h1>
<h1 mat-dialog-title *ngIf="data.edit">Edit Template</h1>
<div mat-dialog-content>
  <span><b>Action name:</b></span>&nbsp;<span>{{data.action_name}}</span><br />
  <span><b>Sub-Action name:</b></span>&nbsp;<span>{{data.sub_action_name}}</span><br />
  <div>
    <mat-form-field>
      <b>Language:</b><input matInput [(ngModel)]="data.language">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field style="width: 100%;">
      <b>Instructions:</b><textarea matInput [(ngModel)]="data.instructions"></textarea>
    </mat-form-field>
  </div>
  <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="data.template"></ngx-monaco-editor>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="addTemplate()" *ngIf="!data.edit">Add</button>
  <button mat-button cdkFocusInitial (click)="editTemplate()" *ngIf="data.edit">Edit</button>
</div>
